<app-search
  (searchString)="getSearchData($event)"
  [repositoriesCount]="repositoriesCount"
></app-search>
<app-results [repositories]="repositories$">
  <ng-container *ngIf="repositories$">
    <mat-grid-list cols="5">
      <ng-container *ngFor="let repository of repositories$">
        <mat-grid-tile>
          <app-repository-card [repository]="repository"></app-repository-card>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
    <mat-paginator [length]="repositoriesCount"
                   [pageSize]="15"
                   [pageSizeOptions]="[15, 30, 45]"
    ></mat-paginator>
  </ng-container>
</app-results>
